body {
    background: url('/images/candy.jpg');
    background-size: 1700px 900px;
}

.marystitle {
    font-family: blenny,sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: right;
    position: relative;
    font-size: 130px;
    color: white;
    background-color: rgb(221, 24, 24);
    opacity: 0.9;
}

.marypoppins {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 5px;
    right: 995px;
}