body {
    background: url('/images/candy.jpg');
    background-size: 1700px 900px;
}

.marystitle {
    font-family: blenny,sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: right;
    position: relative;
    font-size: 130px;
    color: white;
    background-color: rgb(221, 24, 24);
    opacity: 0.9;
}

.marypoppins {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 5px;
    right: 995px;
}

.gameInstructions {
    font-family: scarlet,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    position: relative;
    font-size: 24px;
    bottom: 90px;
    color: white;
    background-color: rgb(221, 24, 24);
    opacity: 0.9;
}

h2 {
    font-size: 50px;
    text-align: right;
    background-color:rgb(221, 24, 24);
    position: absolute;
    height: 110px;
    width: 500px;
    left: 600px;
    top: 325px;
}

.clickme {
    font-size: 30px;
    text-align: center;
    background-color:rgb(221, 24, 24);
    height: 130px;
    width: 500px;
    position: absolute;
    left: 1120px;
    top: 365px;
}

.buttons {
    position: absolute;
    left: 1200px;
    top: 595px;
    font-size: 20px;
    text-align: center;
    font-family: scarlet,sans-serif;
    font-weight: 400;
    font-style: normal;
}


.guessAndScores{
    background-color: rgb(221, 24, 24);
    width: 500px;
    height: 160px;
    position: absolute;
    left: 600px;
    top: 530px;
}

#remGuesses {
    font-family: scarlet,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 30px;
    text-align: center;
}

#score {
    color: white;
    font-size: 30px;
    text-align: center;
}

.start-button{
    position: absolute;
    left: 950px;
    top: 700px;
    background-color: rgb(221, 24, 24);
    height: 70px;
    width: 150px;
    color: white;
    font-size: 20px;
}

.new-button{
    position: absolute;
    left: 600px;
    top: 700px;
    background-color: rgb(221, 24, 24);
    height: 70px;
    width: 150px;
    color: white;
    font-size: 20px;
}

.hint-button{
    position: absolute;
    left: 780px;
    top: 700px;
    background-color: rgb(221, 24, 24);
    height: 70px;
    width: 150px;
    color: white;
    font-size: 20px;
}

#alphabet li{
    background-color: white;
    margin: 0 10px 10px 0;
    width: 35px;
    height: 30px;
    padding-top: 10px;
    list-style: none;
    border: solid 1px white;
    float: left;
}

#alphabet li:hover{
    background-color: white;
    border: solid 1px white;
    color: yellowgreen;
}